* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

html {
    min-width: 236px;
    min-height: 300px;
    overflow: hidden;
}

body {
    padding: 10px;
    background: #f0f0f0;
}

.colorBorder {
    float: left;
    margin: 3px;
    border: 1px solid transparent;
}

.colorInnerBorder {
    border: 1px inset white;
}

.colorCube {
    width: 15px;
    height: 11px;
    border: 1px inset #e3e3e3;
}

#basicBolor {
    margin-bottom: 20px;
}

.colorInput {
    outline: none;
    height: 13px;
    line-height: 13px;
    width: 50px;
    margin: 3px 20px 3px 2px;
}

.actionButton {
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
    margin: 10px 10px 0 0;
}