* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

body {
    overflow: hidden;
}

::-webkit-input-placeholder{
    color: #3D3D3D;
}

::-webkit-scrollbar-track-piece{
    -webkit-border-radius: 0;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    height: 50px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    outline: 1px solid #fff;
    outline-offset: -1px;
    border: 1px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #555;
    -webkit-border-radius: 4px;
}

#chatBox {
    height: 100%;
    width: 100%;
    position: absolute;
    white-space: normal;
    word-break: break-all;
    overflow-y: scroll;
    background: white;
}

#chatBox img {
    max-width: 80%;
}

.msgName {
    padding: 0 5px;
    font-size: 12px;
    color: blue;
    height: 23px;
    line-height: 23px;
}

.msgNameSelf {
    padding: 0 5px;
    font-size: 12px;
    color: #008040;
    height: 23px;
    line-height: 23px;
}

.notice {
    font-size: 12px;
    color: gray;
    height: 50px;
    line-height: 50px;
    text-align: center;
}