/**
 * @description: Qrome 登录界面CSS
 * 仿QQ2013
 * 
 * @author: phoenix.x.gao@gmail.com
 */

* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 380px;
    height: 292px;
}

body {
    font-family: '微软雅黑';
    overflow: hidden;
    font-size: 12px;
    -webkit-user-select: none;
    cursor: default;
    background: #F5F5F5;
}

body.beforedawn {
    background: url(../images/login/beforedawn.jpg) 0 0 no-repeat;
}
body.dawn {
    background: url(../images/login/dawn.jpg) 0 0 no-repeat;
}
body.morning {
    background: url(../images/login/morning.jpg) 0 0 no-repeat;
}
body.noon {
    background: url(../images/login/noon.jpg) 0 0 no-repeat;
}
body.afternoon {
    background: url(../images/login/afternoon.jpg) 0 0 no-repeat;
}
body.dusk {
    background: url(../images/login/dusk.jpg) 0 0 no-repeat;
}
body.evening {
    background: url(../images/login/evening.jpg) 0 0 no-repeat;
}
body.night {
    background: url(../images/login/night.jpg) 0 0 no-repeat;
}

.login-header {
    position:relative;
    width:380px;
    height:142px;
}
.opbox {
    width:58px;
    height:20px;
    position:absolute;
    right:0;
    top:0;
}
.opbox #fit, .opbox #settings {
    float:left;
    width:28px;
    height:20px;
    border-top:1px solid #CCC;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
}
.opbox #fit:hover, .opbox #settings:hover {
    background: -webkit-linear-gradient(top, rgba(60,90,200,0.9) 0%, rgba(60,90,200,0) 100%);
}
.opbox #settings div {
    width:28px;
    height:20px;
    background: url(../images/login/btn-settings.png) 0 0 no-repeat;
}
.opbox #settings div:hover {
    background: url(../images/login/btn-settings.png) 0 -1px no-repeat;
}
.opbox #fit div {
    width:28px;
    height:20px;
    background: url(../images/login/btn-fit.png) 0 0 no-repeat;
}
.opbox #fit div:hover {
    background: url(../images/login/btn-fit.png) 0 -1px no-repeat;
}
.opbox .border {
    float:left;
    width:1px;
    height:18px;
    background: -webkit-linear-gradient(top, rgba(120,120,120,0.9) 0%, rgba(120,120,120,0) 100%);
}
#login-logo {
    background: url(../images/login-logo.png) 0 0 no-repeat;
    position:absolute;
    width:120px;
    height:60px;
    right:5px;
    bottom:10px;
}
.login-body {
    width:380px;
    height:100px;
    background: -webkit-linear-gradient(top, rgba(200,200,200,0.0) 0%, rgba(200,200,200,0.0) 50%, rgba(200,200,200,0.3) 100%);
}
.login-body-left {
    width:110px;
    height:100px;
    float:left;
}
#headpic {
    width:78px;
    height:78px;
    position:relative;
    border:1px solid #FFF;
    border-radius:4px;
    margin-left:20px;
    background: #FFF url(../images/logo.png) 0 0 no-repeat;
    background-size: 78px 78px;
}
.login-body-right {
    width:270px;
    height:100px;
    float:left;
}
.login-footer {
    background: -webkit-linear-gradient(top, rgba(120,120,120,0.8) 0%, rgba(255,255,255,0.4) 4%, rgba(255,255,255,0.4) 5%, rgba(255,255,255,0.6) 100%);
    width:380px;
    padding-top:10px;
    height:40px;
}

.loginRight {
    color: #0c7aa9;
    text-shadow: 1px 0px rgba(200,200,200,0.8),-1px 0px rgba(200,200,200,0.8),0px 1px rgba(200,200,200,0.8),0px -1px rgba(200,200,200,0.8);
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.loginRight:hover {
    color: #0c5ab9;
    text-shadow: 1px 0px #FFF,-1px 0px #FFF,0px 1px #FFF,0px -1px #FFF;
}

#loginBox {
    height: 102px;
    padding: 120px 10px 16px 10px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 50%,rgba(255, 255, 255, 0.35) 100%);
}

.inputOuter {
    padding: 2px 0 6px 0;
    position:relative;
}
.checkboxOuter input, .checkboxOuter label {
    vertical-align:middle;
}
.checkboxOuter label {
    text-shadow: 0px 0px 8px rgba(255,255,255,0.8);
}
#account, #password {
    font-family:'微软雅黑';
    padding: 5px 24px 6px 5px;
    width: 158px;
    height: 13px;
    line-height: 13px;
    font-size: 13px;
    border:1px solid #AAA;
    border-radius:2px;
    -webkit-user-select: text;
    cursor: auto;
    float: left;
    outline-color: #088cd8;
}
#chooseAccount {
    border-left:1px solid #DDD;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
    top:3px;
    left:168px;
    position:absolute;
    height:24px;
    width:20px;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
}
#chooseAccount:hover {
    border-left:1px solid #CCE;
    background: -webkit-linear-gradient(top, #F0F5FA 0%, #E0E5EA 100%);
}
.inputOuter ::-webkit-input-placeholder {
    font-size:12px;
    line-height:18px;
}

#loginButtonOuter {
    -webkit-border-radius: 8px;
    margin: 0 auto;
    padding:2px;
    width:152px;
    background:rgba(240,240,240,0.3);
}

#loginButtonBorder {
    -webkit-border-radius: 6px;
    padding: 2px;
    width: 148px;
    background: -webkit-linear-gradient(top, #23B 0%,#57D 100%);
}

#loginButtonInner {
    -webkit-border-radius: 4px;
    padding: 1px;
    background: -webkit-linear-gradient(top, #d7dfe6 0%,#becedc 100%);
    height: 26px;
    line-height: 26px;
    width: 146px;
    text-align: center;
}

#loginButtonInner:hover {
    background: -webkit-linear-gradient(top, #e5edf4 0%,#d1e3f2 100%);
}

#stateChg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 24px;
    width: 24px;
    z-index: 10;
}

.state {
    height: 24px;
    width: 24px;
}

.state:hover {
    margin:1px 0 0 1px;
}

.state[state=online] {
    background: url(../images/online.png) no-repeat 6px 6px;
}

.state[state=callme] {
    background: url(../images/callme.png) no-repeat 6px 6px;
}

.state[state=busy] {
    background: url(../images/busy.png) no-repeat 6px 6px;
}

.state[state=away] {
    background: url(../images/away.png) no-repeat 6px 6px;
}

.state[state=hidden] {
    background: url(../images/hidden.png) no-repeat 6px 6px;
}

.state[state=silent] {
    background: url(../images/silent.png) no-repeat 6px 6px;
}

#stateList {
    position: absolute;
    width: 100px;
    border: #fff 1px solid;
    -webkit-border-radius: 2px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
    margin-top: -80px;
    display: none;
    list-style:none;
    background: -webkit-linear-gradient(left, rgba(210, 220, 230, 0.95) 0px, rgba(200, 230, 250, 0.95) 24px, rgba(255, 255, 255, 0.95) 25px, rgba(255, 255, 255, 0.95) 100px);
}

#stateList li {
    height: 24px;
    line-height: 24px;
}
#stateList li span{
    display:block;
    line-height: 24px;
    padding-left:32px;
    background-image: none;
    background-position: 6px 6px;
    background-repeat: no-repeat;
}

#stateList li:hover {
    color:#FFF;
    background: -webkit-linear-gradient(top, rgba(120, 150, 230, 0.9) 0%, rgba(70, 80, 220, 0.9) 100%);
}

#stateList li[state=online] span{
    background-image: url(../images/online.png);
}

#stateList li[state=callme] span{
    background-image: url(../images/callme.png);
    border-bottom:1px solid rgba(210, 220, 230, 0.95);
}

#stateList li[state=busy] span{
    background-image: url(../images/busy.png);
}

#stateList li[state=away] span{
    background-image: url(../images/away.png);
}

#stateList li[state=hidden] span{
    background-image: url(../images/hidden.png);
}

#stateList li[state=silent] span{
    background-image: url(../images/silent.png);
    border-bottom:1px solid rgba(210, 220, 230, 0.95);
}

#stateList li[state=online] span:hover {
    background-image: url(../images/online.png);
}

#stateList li[state=callme] span:hover {
    background-image: url(../images/callme.png);
}

#stateList li[state=busy] span:hover {
    background-image: url(../images/busy.png);
}

#stateList li[state=away] span:hover {
    background-image: url(../images/away.png);
}

#stateList li[state=hidden] span:hover {
    background-image: url(../images/hidden.png);
}

#stateList li[state=silent] span:hover {
    background-image: url(../images/silent.png);
}

#afterLogin {
    color: white;
    text-align: center;
    padding-top: 30px;
    display: none;
}